.fm-zone-posts-wrapper .delete {
  color: #BC0B0B;
}
.fm-zone-posts-wrapper .zone-col {
  float: left;
  width: 48%;
}
.fm-zone-posts-wrapper .zone-posts-col {
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  padding: 10px;
}
.fm-zone-posts-wrapper .zone-posts-col h3 {
  margin: 3px 0;
}
.fm-zone-posts-wrapper.loading {
  background-image: url(../images/wpspin_light.gif);
  background-position: right top;
  background-repeat: no-repeat;
}
.fm-zone-posts-wrapper .zone-posts-list {
  margin: 10px 0;
  min-height: 10px;
}
.fm-zone-posts-wrapper .zone-posts-list .ui-state-highlight {
  margin-bottom: 5px;
  border: 3px dashed #bbb;
  background: none;
  color: #bbb;
  height: 65px;
}
.fm-zone-posts-wrapper .zone-posts-list.ui-sortable .zone-post {
  cursor: move;
}
.fm-zone-posts-wrapper .zone-post, .fm-zone-posts-wrapper .zone-placeholder {
  padding: 5px 0 5px 10px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #444;
  overflow: hidden;
  border: 1px dotted #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f5f5f5;
}
.fm-zone-posts-wrapper .zone-post table, .fm-zone-posts-wrapper .zone-placeholder table {
  width: 100%;
}
.fm-zone-posts-wrapper .zone-post:hover .zone-post-position, .fm-zone-posts-wrapper .zone-placeholder:hover .zone-post-position {
  background: url(../images/drag.png) no-repeat left center;
  text-indent: -9999px;
}
.fm-zone-posts-wrapper .zone-post .row-actions, .fm-zone-posts-wrapper .zone-placeholder .row-actions {
  font-size: 11px;
  font-weight: normal;
}
.fm-zone-posts-wrapper .zone-post :hover .row-actions,
.fm-zone-posts-wrapper .zone-post .loading .row-actions,
.fm-zone-posts-wrapper .zone-post :hover .zone-post-handle,
.fm-zone-posts-wrapper .zone-post .loading .zone-post-handle, .fm-zone-posts-wrapper .zone-placeholder :hover .row-actions,
.fm-zone-posts-wrapper .zone-placeholder .loading .row-actions,
.fm-zone-posts-wrapper .zone-placeholder :hover .zone-post-handle,
.fm-zone-posts-wrapper .zone-placeholder .loading .zone-post-handle {
  visibility: visible;
}
.fm-zone-posts-wrapper .zone-post.loading .zone-post-position, .fm-zone-posts-wrapper .zone-placeholder.loading .zone-post-position {
  background-image: url(../images/wpspin_light.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
}
.fm-zone-posts-wrapper .zone-post .zone-post-thumbnail, .fm-zone-posts-wrapper .zone-placeholder .zone-post-thumbnail {
  width: 60px;
  text-align: center;
}
.fm-zone-posts-wrapper .zone-post .zone-post-thumbnail img, .fm-zone-posts-wrapper .zone-placeholder .zone-post-thumbnail img {
  max-width: 50px;
  max-height: 50px;
}
.fm-zone-posts-wrapper .zone-post .zone-post-post_type, .fm-zone-posts-wrapper .zone-placeholder .zone-post-post_type {
  width: 90px;
  padding-right: 10px;
  text-align: right;
}
.fm-zone-posts-wrapper .zone-placeholder {
  height: 53px;
  font-size: 24px;
  text-align: center;
  line-height: 53px;
  font-style: italic;
  color: #ddd;
  background: #fafafa;
  border: 4px dashed #eee;
}
.fm-zone-posts-wrapper .zone-post-position {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  text-align: center;
  width: 32px;
}
.fm-zone-posts-wrapper .zone-post-status {
  display: block;
  color: #999;
}
.fm-zone-posts-wrapper .zone-search-wrapper {
  padding: 7px 0;
  border-bottom: 1px dotted #999;
}
.fm-zone-posts-wrapper .zone-post-search, .fm-zone-posts-wrapper .zone-post-latest {
  width: 100%;
}
.fm-zone-posts-wrapper .ui-autocomplete-input.loading {
  background-image: url(../images/wpspin_light.gif);
  background-repeat: no-repeat;
  background-position: right center;
}
.fm-zone-posts-wrapper .ui-autocomplete {
  min-width: 330px;
  max-width: 600px;
  font-size: 13px;
  line-height: 17px;
  overflow-y: auto;
  max-height: 400px;
}
.fm-zone-posts-wrapper .ui-autocomplete .ui-corner-all {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #eee;
  cursor: pointer;
  overflow: hidden;
}
.fm-zone-posts-wrapper .ui-autocomplete .title {
  display: block;
  width: 80%;
  float: left;
}
.fm-zone-posts-wrapper .ui-autocomplete .date {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
  clear: both;
  float: left;
}
.fm-zone-posts-wrapper .ui-autocomplete .type {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
  width: 19%;
  margin-left: 1%;
  float: right;
  text-align: right;
}
.fm-zone-posts-wrapper .ui-autocomplete .status {
  font-size: 10px;
  width: 19%;
  margin-left: 1%;
  float: right;
  text-align: right;
}
.fm-zone-posts-wrapper .ui-autocomplete li {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #fff;
}
.fm-zone-posts-wrapper .ui-autocomplete li .image {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: -60px;
}
.fm-zone-posts-wrapper .ui-autocomplete li img {
  max-width: 100%;
  max-height: 100%;
}
.fm-zone-posts-wrapper .ui-autocomplete li .details {
  display: block;
  margin-left: 60px;
  overflow: hidden;
}
.fm-zone-posts-wrapper .zone-advanced-search-filters-wrapper {
  display: none;
}
.fm-zone-posts-wrapper .zone-advanced-search-filters-heading {
  float: right;
  font-weight: bold;
}
.fm-zone-posts-wrapper .zone-toggle-advanced-search {
  cursor: pointer;
}
.fm-zone-posts-wrapper .fmz-notice {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #dd3d36;
  background: #fae2e1;
  padding: 12px;
  margin-top: 10px;
}
